<dx-toolbar>
  <dxi-item location="before" widget="dxButton" [options]="toolbarContent">
  </dxi-item>
  <dxi-item location="center" widget="dxButton" locateInMenu="never">
    <div *dxTemplate>
      <div class="toolbar-label" >{{title}}</div>
    </div>
  </dxi-item>
  <dxi-item
  location="after"
  widget="dxButton"
  locateInMenu="auto"
  [options]="addButtonOptions"
>
</dxi-item>
</dx-toolbar>
<dx-drawer
  class="dxDrawer"
  openedStateMode="overlap"
  position="left"
  revealMode="slide"
  template="template"
  [(opened)]="isDrawerOpen"
  [closeOnOutsideClick]="true"
>
  <div *dxTemplate="let data of 'template'" style="width: 200px">
    <dx-tree-view
      class="panel-list dx-theme-accent-as-background-color"
      [hoverStateEnabled]="false"
      [activeStateEnabled]="false"
      [focusStateEnabled]="false"
      [items]="dataNavegation"
      (onItemClick)="selectItem($event)"
    >
    </dx-tree-view>
  </div>
</dx-drawer>
