<dx-box direction="row" width="100%" [height]="75">
  <dxi-item class="rect demo-dark" [ratio]="1"></dxi-item>
  <dxi-item class="rect demo-light" [ratio]="2">
    <dx-form [formData]="form.value">
      <dxi-item itemType="group">
        <dxi-item name="user" dataField="user"> </dxi-item>
        <dxi-item
          name="pass"
          dataField="pass"
          [editorOptions]="{ mode: 'password' }"
        >
        </dxi-item>
      </dxi-item>
      <dxi-item>
        <dx-button text="Acessar" type="success" (click)="login()"></dx-button>
      </dxi-item>
    </dx-form>
  </dxi-item>
  <dxi-item class="rect demo-dark" [ratio]="1"></dxi-item>
</dx-box>
